@import url(__block/block.css);

.root {
    margin: 0;
    padding-top: 4em;
    padding-bottom: 8em;
}

.root_size_l {
    padding-top: 4em;
    padding-bottom: 4em;
}

.root_size_s {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
 
.root_background_f {
    background-image: url(/img/backgrounds/background_1.png);
    background-size: cover;
}

.root_background_s {
    background-image: url(/img/backgrounds/background_2.png);
}

.root_background_gray {
    background-color: #EEEEEE;
}

.root_background_dark {
    background-color: #333333;
}

.root__content-container {
    max-width: 1219px;
    padding: 10px 55px 10px 55px;
    margin: auto;
}

.root__content-container_small {
    max-width: 1219px;
    padding: 10px 35% 10px 35%;
    margin: auto;
}

.root__content-container h1 {
    font-size: 72px;
}

.root__content-container h2 {
    font-size: 64px;
}

.root__content-container h3 {
    font-size: 48px;
}

.root__content-container h4 {
    font-size: 28px;
    font-weight: bold;
}

.root__content-container h5 {
    font-size: 18px;
    font-style: italic;
}


.root__content-container p {
    font-size: 32px;
}