
.text_center {
    text-align: center;
}

.text_white {
    color: white;
}

.text_green {
    color: #007765;
}

.text_italic {
    font-style: italic;
}

.text_bold {
    font-weight: bold;
}

.text_bolder {
    font-weight: bold;
}

.text_clear {
    font-weight: 200;
    font-style: normal;
}