@import url(header/header.css);
@import url(root/root.css);
@import url(text/text.css);

body {
    margin: 0;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Quicksand', sans-serif;
  }

.float_l {
  float: left;
}

.clear {
  clear:both;
}

.fix-header {
  width: 100px;
  height: 50px;
}

.hook {
  width: 30px;
  height: 50px;

}

.ppcoin {
  width: 115px;
  height: 115px;
  margin-right: 2em;
}